{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Course</title>
    <link rel="stylesheet" href="{% static 'courseApp/css/bootstrap.min.css' %}">
</head>
<body>
    <!-- <div class="container">
        <h1>Add New Course:</h1><hr>
    <form action="#" class="">
        {% csrf_token %}
        <p class="form-label">Course ID: {{ cfrom.course_id }}</p>
        <p class="form-label">Course Name: {{ cfrom.course_name }}</p>
        <p class="form-label">Credit: {{ cfrom.course_credit }}</p>
        <p class="form-label">Mid Full Marks: {{ cfrom.mid_full_marks }}</p>
        <p class="form-label">Att Full Marks: {{ cfrom.att_full_marks }}</p>
        <p class="form-label">Final Full Marks: {{ cfrom.final_full_marks }}</p>
        <input class="btn btn-primary" type="submit" value="save">
    </form>
</div> -->
<div class="container">
    <h1>Add New Course:</h1><hr>
    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
    <table class="table ">
        <tr>
            <td>Course ID</td>
            <td>{{ cfrom.course_id }}</td>
        </tr>
        <tr>
            <td>Course Name</td>
            <td>{{ cfrom.course_name }}</td>
        </tr>
        <tr>
            <td>Credit</td>
            <td>{{ cfrom.course_credit }}</td>
        </tr>
        <tr>
            <td>CT Full Marks</td>
            <td>{{ cfrom.ct_full_marks }}</td>
        </tr>
        <tr>
            <td>Mid Full Marks</td>
            <td>{{ cfrom.mid_full_marks }}</td>
        </tr>
        <tr>
            <td>Att Full Marks</td>
            <td>{{ cfrom.att_full_marks }}</td>
        </tr>
        <tr>
            <td>Final Full Marks</td>
            <td>{{ cfrom.final_full_marks }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="btn btn-primary" type="submit" value="save">
            </td>
        </tr>
    </table>
    </form>
</div>
</body>
</html>